regiao        = "us-east-1"
projeto       = "pethub"
ambiente      = "dev"
cidr_vpc      = "10.0.0.0/16"
cidr_subnet   = "10.0.1.0/24"
porta_api     = 3000

retencao_logs = 14
email_alertas = "seu-email@exemplo.com"
tag_imagem    = "latest"
